.bg{
  background-color: black;
  color:aquamarine
}
.header {
  text-align: center;
  color: aquamarine;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/742/542/643.gif);
  background-size: 101px; ;
} 

.hr {
  background-color: aquamarine;
}

.btn-color {
  color:aquamarine;
  background-color: rgb(40, 40, 40);
  margin:0 auto;
  display:block;
}

.hidden {
  display: none;
}