.bg{
  background-color: black;
  color:aquamarine
}
.header {
  text-align: center;
  color: aquamarine;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  background-image: url(https://i.kym-cdn.com/photos/images/original/000/742/542/643.gif);
  background-size: 101px; ;
} 

.bulb {
  float: right;
}

.char {
  float:left;
}